* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #b1b1b1 !important;
}

.wrapper {
  transition: 0.5s;
}

.wrapper-dark {
  background-color: #282D35;
  color: white;
  transition: 0.5s;
}

img {
  width: 100%;
  border-radius: 2px;
}

.header {
  background-color: #0d1117;
}

.nav {
  /* display: flex by default */
  justify-content: space-between;
  background-color: #0d1117;
  padding: 5px 10px 0px 5px !important;
}

.nav--home {
  text-decoration: none;
  filter: saturate(15%);
}

.nav--favorites {
  text-decoration: none;
  filter: saturate(15%);
}

/* .nav--toggle {
  background-color: gray;
} */


/* ----------------------------------------------------------- */

.header--form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 28px;
}

.header--form--input {
  text-indent: 4px;
  border-radius: 4px;
  width: 300px;
}

.main--results {
  margin: 3px 0px 0px 5px;
  font-size: 14px;
}

/** has unknown background color on the page when min-height is not set to 100vh  */
.main--image-list {
  column-count: 5;
  column-gap: 7px;
  margin: 0px 150px;
  min-height: 100vh;
  /* to get rid of unwanted white space at the bottom */
}

.image-container {
  position: relative;
  margin-bottom: 7px;
}

.image-container--like {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: transparent;
  opacity: 20%;
  border-radius: 5px;
  border: none;
  filter: saturate(15%);
  transition: 0.5s;
}

.image-container--like:hover {
  opacity: 100%;
  transition: 0.5s;
}

.image-container--liked {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  filter: saturate(10%);
}

.favorites-image-list {
  column-count: 4;
  column-gap: 7px;
  margin: 0px 150px;
  min-height: 100vh;
}

.error {
  min-height: 100vh;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.error-message > h2 {
  color: #0d1117;
  opacity: 70%;
}

.error-message--404 {
  text-align: center;
}

@media(max-width: 1150px) {
  .main--image-list {
    column-count: 4;
  }

  .favorites {
    column-count: 3;
  }
}

@media(max-width: 992px) {
  .main--image-list {
    column-count: 3;
    margin: 0px 100px;
  }

  .favorites {
    column-count: 2;
  }
}

@media(max-width: 768px) {
  .main--image-list {
    column-count: 2;
  }

  .favorites {
    column-count: 1;
  }
}

@media(max-width: 600px) {
  .main--image-list {
    column-count: 1;
    margin: 0px 50px;
  }
}
