* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

main {
  background-color: rgb(177, 177, 177);
}

img {
  width: 100%;
  border-radius: 2px;
}

.main--top {
  background-color: #0d1117;
}

.main--form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--input {
  text-indent: 4px;
}

.main--image-list {
  /* border: 1px dashed; */
  column-count: 5;
  column-gap: 7px;
  margin: 0px 150px;
  min-height: 100vh;
    /* to get rid of unwanted white space at the bottom */
}

.image {
  position: relative;
  margin-bottom: 7px;
}

.image--like {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: transparent;
  opacity: 30%;
  border-radius: 5px;
  border: none;
  filter: saturate(15%);
  transition: 0.5s;
}

.image--like:hover {
  opacity: 100%;
  transition: 0.5s;
}

.image--liked {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  filter: saturate(10%);
}

@media(max-width: 1150px) {
  .main--image-list {
    column-count: 4;
  }
}

@media(max-width: 992px) {
  .main--image-list {
    column-count: 3;
  }
}

@media(max-width: 768px) {
  .main--image-list {
    column-count: 2;
  }
}

@media(max-width: 600px) {
  .main--image-list {
    column-count: 1;
  }
}
