* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

main {
  background-color: rgb(177, 177, 177);
}

img {
  width: 100%;
  /* max-width: 100%;
  max-height: 100%; */
  border-radius: 5px;
}

.main--top {
  background-color: #0d1117;
}

.main--form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--input {
  text-indent: 5px;
}

.main--image-list {
  /* border: 1px dashed black; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  gap: 10px;
  min-height: 100vh;
  /* to get rid of unwanted white space at the bottom */
}

.image {
  position: relative;
}

.image--favorite {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: transparent;
  opacity: 50%;
  border-radius: 5px;
  border: none;
  /* add hover effect */
}
